  .fridge {
      display: flex;
      flex-direction: column;
      width: 85%;
      min-width: var(--table-width);
      margin-top: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px;
    }

  .ingredient-main-container {
    display: flex;
    max-width: 100%;
    gap: 8vw;
  }

  .ingredient-add-container {
    display: flex;
    align-items: start;
  }
  .ingredient-list-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    column-gap: 5vw;
  }

  .fridge-update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    color: #00796b;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    border : 1px solid red;
  }

  .fridge-modal-title{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .fridge-modal-recipe-name{
    font-size: 1.2rem;
  }
  .fridge-close-btn{
    margin-right: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
  }

  .fridge-update button {
    background-color: #00796b73;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .fridge-update button:hover {
    background-color: #005f56a2;
  }