/* PlannerComponent.css */

  .planner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: var(--table-width);
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
  }

  .date-title {
    padding: 5px;
    font-size: 20px;
    color: #00796b;
    font-weight: bold;
    text-align: center;
    background-color: #e1e1e1;
    border-radius: 15px;
  }

  .planner-update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    color: #00796b;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    border : 1px solid red;
  }

  .planner-modal-title{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .planner-modal-recipe-name{
    font-size: 1.2rem;
  }
  .planner-close-btn{
    margin-right: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
  }

  .planner-update button {
    background-color: #00796b73;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .planner-update button:hover {
    background-color: #005f56a2;
  }

  .planner-frame{
    display: flex;
  }

  .planner-prev, .planner-next {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Styles généraux du tableau */
  .planner-table {
    min-width: 70%;
    border-collapse: collapse; /* Fusionner les bordures */
  }
  
  .date-column {
    color: #00796b;
  }
  .date-column:nth-of-type(2) div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
  }
  .date-column:last-of-type div{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
  }
  #planner-prev-arrow, #planner-next-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #00796b;
    font-size: 20px;
    width: 50px; /* Largeur de la flèche */
    height: 50px; /* Hauteur de la flèche */
    background-color: #d0f7fa; /* Couleur de fond plus claire et fraîche (bleu pâle) */
    border: 1px solid #a0f7fa;
    border-radius: 50%; /* Arrondir les coins pour faire un cercle */
    margin: 0 10px; /* Espacement entre les flèches et le tableau */
  }

  #planner-prev-arrow:hover, #planner-next-arrow:hover {
    background-color: #a0e7fa;
  }
  
  /* Supprimer toutes les bordures */
  .day-column {
    height: 40px;  /* Réduire la hauteur des titres des jours */
    padding: 10px 20px;  /* Ajuster le padding pour ne pas être trop grand */
    background-color: #e0f7fa;      /* Couleur de fond plus claire et fraîche (bleu pâle) */
    color: #00796b;
  }
  
  .time-slot {
    border: 1px solid lightgray;
    padding: 0 8px;
    text-align: center;
  }
  .midday-slot{
    border-bottom: none;
  }
  .evening-slot{
    border-top: none;
  }
  .morning-cell{
    border: 1px solid lightgray;
    height: calc(var(--table-width) * 0.1);
  }
  /* Style des cellules de chaque jour (Midi et Soir) */
  .day-cell {
    border: 1px solid lightgray;
    min-height: calc(var(--table-width) * 0.2);   /* Hauteur plus grande pour les cellules de Midi et Soir */
    padding: 10px; /* Ajuster le padding pour ne pas être trop grand */
  }
  .morning-cell{
    border-bottom: none;;
  }
  .midday-cell {
    border-top: none;
    border-bottom: none;
  }
  .evening-cell {
    border-top: none;
  }

  /* Conteneur des éléments "Midi" et "Soir" */
  .time-slot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0;
  }
  
  /* Centre le texte verticalement dans chaque span */
  .time-slot-container > span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    text-align: center;
  }
  
  /* Conteneur des boutons alignés horizontalement */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
  }
  
  .button-card {
    --card-cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    border: 1px solid lightgray;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  
    width: var(--card-width);
    max-width: 450px;
    aspect-ratio: 3 / 2; /* plus compact que 4/3 */
    min-height: 200px;
  }

  /* Les boutons centrés dans chaque cellule de jour */
  .select-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  /* Hover des boutons */
  .select-button:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .select-button:disabled,.select-button:disabled:hover {
    background-color: #d3d3d3;
    border-color: #b3b3b3;
    cursor: default;
  }