/* Général pour tous les éléments */
* {
    box-sizing: border-box;
  }

  .shopping-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .shopping-modal-title-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    border-radius: 5px 5px 0 0 ;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .shopping-modal-title{
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .shopping-add-message {
    display: none;
    justify-content: center;
    max-width: 100%;
    opacity: 1;
    transition: opacity 2s ease;
  }

  .shopping-add-message.fade-out {
    opacity: 0;
  }

  .shopping-message{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
  }

  .shopping-modal-content {
    --card-width : '60%';
    background-color: white;
    padding: 30px;
    border-radius: 0 0 5px 5px;
    width: 100%; 
    height: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: scroll;
  }
  
  .shopping-list-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .shopping-list-container > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .shopping-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    padding: 20px;
  }
  .modal-title{
    text-decoration: none;
    text-align: center;
    padding-top: 8px;
  }
  /* Section des boutons */
  /* .recipe-modal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  } */
  
  .shopping-close-btn:hover {
    background-color: #0056b3;
  }
  
  .shopping-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    padding: 3px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  