@media (min-width: 769px) {
  
}

@media only screen and (max-width: 768px) {
  
}

.user-fridge {
    margin-bottom: 20px;
}

.fridge-title{
    display: flex;
    justify-content: center;
}

.fridge-recipes{
    display: flex;
    justify-content: center;
}
.fridge-container {
    display: flex;
    justify-content: center;
}