@media (min-width: 769px) {
  .recipe-list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;     /* espace entre lignes (⬆️⬇️) */
    padding: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .recipe-list {
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 2rem;     /* espace entre lignes (⬆️⬇️) */
  }
}

.recipe-link{
    text-decoration: none; /* enlever le soulignement des liens */
    color: inherit; /* garder la couleur du texte par défaut */
    width: 100%;
    max-width: 400px;
}

.recipe-list {
    display: grid;
    column-gap: 2rem;  /* espace entre colonnes */
    justify-items: center;
  }