/* Navigation */
@media only screen and (min-width : 769px){
  
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
  
}

  .nav {
    display: flex;
    justify-content: space-between; /* Sépare les sections gauche et droite */
    width: 100%;
    max-width: 1200px; /* Limite la largeur du contenu */
    padding: 15px 0;
  }