/* Navigation */
.nav {
    display: flex;
    justify-content: space-between; /* Sépare les sections gauche et droite */
    width: 100%;
    max-width: 1200px; /* Limite la largeur du contenu */
    padding: 0 20px; /* Ajoute un peu de marge interne */
  }
  
  /* Navigation à gauche */
  .left-nav ul {
    list-style: none;
    display: flex;
  }
  
  .left-nav li {
    margin-right: 20px; /* Espacement entre chaque élément de menu */
  }
  
  .left-nav a {
    text-decoration: none;
    font-size: 18px;
  }
  
  .left-nav a:hover {
    color: #007bff;
  }
  
  .left-nav button {
    background: none;
    border: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
  
  .left-nav button:hover {
    color: #007bff;
  }
  
  /* Navigation à droite */
  .right-nav ul {
    list-style: none;
    display: flex;
  }
  
  .right-nav li {
    margin-left: 20px; /* Espacement entre les éléments */
  }
  
  .right-nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  .right-nav a:hover {
    color: #007bff;
  }