.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header {
    display: flex;
    justify-content: center;
}

.home-cards-container{
    padding: 0 10%;
    display: flex;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    column-gap: 25%;
}