/* header et footer fixes */
@media only screen and (min-width : 769px){
  footer{
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width : 320px) and (max-width : 769px) {
  footer{
    display: none;
  }
}

header {
    background-color: blueviolet;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

footer {
    text-align: center;
    background-color: chartreuse;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

main {
    /* padding: 0 1rem; */
    z-index: 99;
}