.basic-card {
    --basic-card-width: 100%;
    --basic-card-height: 200px;
    --basic-card-cursor: help;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border: 1px solid lightgray;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 50px;
    width: var(--basic-card-width);
    max-width: 450px;
    aspect-ratio: 3 / 2; /* plus compact que 4/3 */
    min-height: var(--basic-card-height);
  }

  .basic-card:hover {
    transform: scale(1.01);
  }